
p {
font-family: Roboto, Arial;
margin-top: 0;
margin-bottom: 0;
}

.thumbnail {
width: 100%;
border-radius: 13px;
}

.search-bar {
display: block;
}

.video-title {
margin-top: 0;
font-size: 16px;
font-weight: 500;
line-height: 20px;
margin-bottom: 8px;
cursor: pointer;
}

.video-info-grid {
display: grid;
grid-template-columns: 50px 1fr;
}

.profile-picture {
width: 40px;
border-radius: 50px;
}

.thumbnail-row {
margin-bottom: 12px;
cursor: pointer;
position: relative;
}

.video-author,
.video-stats {
font-size: 14px;
color: #606060;
}

.video-author {
margin-bottom: 4px;
}

.video-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 16px;
row-gap: 40px;
padding-top: 90px;
}


.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 4px;
}